# =====================================
# PYTHON
# =====================================

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# =====================================
# VIRTUAL ENVIRONMENT
# =====================================

.venv/
venv/
env/

# =====================================
# SQLITE DATABASE
# =====================================

phoenix_ai.db
*.db

# =====================================
# VS CODE
# =====================================

.vscode/

# =====================================
# OPERATING SYSTEM
# =====================================

.DS_Store
Thumbs.db
desktop.ini